#Â Practical Part 2: Linked Data

Use this Jupyter Notebook as a base to start working with Linked Data.

It employs [rdflib](https://rdflib.readthedocs.io/en/stable/gettingstarted.html) and the [SPARQLWrapper](https://sparqlwrapper.readthedocs.io/en/latest/main.html#how-to-use) Module to interact with RDF.

## Install Modules

Please run the following cell if you have not yet installed these modules in your environment:

In [ ]:
!pip install rdflib SPARQLWrapper

## Import Modules

In [6]:
from rdflib import Graph
from SPARQLWrapper import SPARQLWrapper, JSON

## Work with Triples

Parse triples in [turtle](https://www.w3.org/TR/turtle/) format into a graph.

In [30]:
entry=Graph().parse(format='ttl',
                     data="""
@prefix schema: <http://schema.org/>.

<https://unibe.ch/michael.luggen> schema:givenName "Michael" .
""")

Serialize graph to [json-ld](https://json-ld.org/) format.

In [37]:
print(entry.serialize(format="json-ld"))

[
  {
    "@id": "https://unibe.ch/michael.luggen",
    "http://schema.org/givenName": [
      {
        "@value": "Michael"
      }
    ]
  }
]

Query the graph with SPARQL.

In [35]:
q = """
    PREFIX schema: <http://schema.org/>

    SELECT ?name
    WHERE {

        ?p schema:givenName ?name .
    }
"""

# Apply the query to the graph and iterate through results
for r in entry.query(q):
    print(r["name"])

Michael